# Exercise: Add query functions

## Scenario 

Little Lemon have started building a functional booking system from which they can manage their customer data. An integral part of a well-functioning system is the ability to query data. Little Lemon need you to help them add the search functionality required to query their data. 

## Prerequisites

At this stage of the project, you should have set up the working environment, configured the connector/python and created a database with all the customer information. To implement a booking system, you will first have to review how to make queries on an existing database using Python syntax.

In [57]:
#!pip install mysql-connector-python

## Task One

In the previous exercise you created a Python environment. In the first task of this exercise, you are tasked with extending the environment to connect with your database and interact with the data it holds. 

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

This gives you access to all the functionality available from the connector API, which can be accessed through the variable named connector (or whichever alias you choose).

In [63]:
import mysql.connector as connector
import mysql.connector.errorcode as error

In [64]:
try:
    conn = connector.connect(user = "root", password = "Pasear*809", database="littlelemondb")
except connector.Error as err:
    if err.errno == error.ER_ACCESS_DENIED_ERROR:
        print("User or Password are incorrect")
    elif err.errno == error.ER_BAD_DB_ERROR:
        print("Database doesn't exist")
    else:
        print("Something went wrong: {}".formar(err))

## Task two

In this second task, you now need to query the database to show all tables within the database. 

Having established a connection in the first task, you need to execute a test query to ensure that there are no issues. You can do this by executing, or passing, a generic query that returns a snapshot of the database tables. 

You need to execute the query on the cursor using the code that follows. The cursor, as you should recall, is the bridge through which you can pass queries and return results.

In [65]:
cursor = conn.cursor()
show_tables_query = "Show tables;"
cursor.execute(show_tables_query)

In [66]:
for rows in cursor:
    print(rows)

('bookings',)
('bookingstatus',)
('category',)
('customer',)
('customerorders',)
('menu',)
('menuitemswithorders',)
('orderdeliverystatus',)
('orderdetail',)
('orders',)
('orderstatus',)
('ordersview',)
('roles',)
('staff',)

## Task 3

### Query with table JOIN

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. 

You can use the following steps to implement this functionality in your database directory:


1. **Step One:** Identify which tables are required. To complete the query, you first need to identify which table has the required data. 

The bill paid can be found in Orders as TotalCost and the customer contact information can be found in the Customers table. 

When selecting attributes from a specific table, specify the table name, followed by a dot and the target attribute as below (Hint: select the column attributes that you will need). 


2. **Step Two:** Next, specify a table (Hint: The FROM keyword allows you to identify a table.)

To join two tables, specify the type of JOIN and the attribute to join the table on. The tables must be joined on an attribute that is common to both tables (such as a common column).


3. **Step Three:** Finally, include a clause to filter the data on. (Hint: the WHERE clause can be used to add conditional parameters.)
 
When you have completed these steps, wrap this query as a string and pass it to the .execute() method of the cursor class. When executed, your SELECT query must extract the full name, contact details and bill amount for every customer who spent more than $60.

In [72]:
# SQL Query
query = """
SELECT 
    c.CustomerName AS FullName,
    c.PhoneNumber,
    c.Email,
    o.TotalCost
FROM Customer c JOIN Orders o ON c.CustomerID = o.CustomerID
WHERE o.TotalCost > 60;
"""

# Query execution
cursor.execute(query)

# Fetching and printing the result set
results = cursor.fetchall()
for row in results:
    print(row)

('Emily Davis', '456-789-0123', 'emily.davis@example.com', Decimal('80.00'))
('Michael Johnson', '345-678-9012', 'michael.johnson@example.com', Decimal('105.00'))
('David Brown', '567-890-1234', 'david.brown@example.com', Decimal('73.00'))
('Emily Davis', '456-789-0123', 'emily.davis@example.com', Decimal('80.00'))

In [73]:
cursor.close()
conn.close()